@page "/tools"
@code
{
    string message;
    int refreshshowid;

    public void ExecUpdateFollowed()
    {
        message = "Running Update Followed";
        RunScript("/Users/dick/TVMaze/Scripts/UpdateFollowed.sh");
        message = "Finished Update Followed";
    }

    public void ExecUpdatePlexAcquired()
    {
        message = "Running Update Plex Acquired";
        RunScript("/Users/dick/TVMaze/Scripts/UpdatePlexAcquired.sh");
        message = "Finished Update Plex Acquired";
    }

    public void ExecUpdatePlexWatched()
    {
        message = "Running Update Plex Watched";
        RunScript("/Users/dick/TVMaze/Scripts/UpdatePlexWatched.sh");
        message = "Finished Update Plex Watched";
    }

    private void RunScript(string script)
    {
        using (Process Script = new())
        {
            Script.StartInfo.FileName = script;
            Script.StartInfo.UseShellExecute = true;
            Script.StartInfo.RedirectStandardOutput = false;
            bool started = Script.Start();
            Script.WaitForExit();
        }
    }

    private void RefreshOneShow()
    {
        if (refreshshowid == 0)
        {
            message = "Enter a ShowId: 0 is not Valid";
            return;
        }
        message = $"Trying to update {refreshshowid}";

        AppInfo appinfo = new("TVMaze", "RefreshOneShow WebUI", "DbAlternate");
        TextFileHandler log = appinfo.TxtFile;
        log.Start();
        using (MariaDB Mdbr = new(appinfo))
        {
            MySqlConnector.MySqlDataReader rdr;

            rdr = Mdbr.ExecQuery($"select `TvmShowId`, `ShowName` from Shows where `TvmShowId` = {refreshshowid} order by `TvmShowId` desc");

            while (rdr.Read())
            {
                using (ShowAndEpisodes sae = new(appinfo))
                {
                    message = $"Working on Show {rdr[0]} {rdr[1]}";
                    log.Write($"{message}", "", 2);
                    sae.Refresh(int.Parse(rdr[0].ToString()));
                }
            }
            if (message.Contains("Trying")) { message = $"ShowId {refreshshowid} is not in the Shows Table"; }
            else { message = message.Replace("Working on", "Refreshed"); }
        }
        log.Stop();
    }

}

<h1>Tools Page</h1>
<div>
    <h2>Batch Update Processes: </h2>
    <p></p>
    <button class="btn btn-primary" @onclick="ExecUpdateFollowed">Followed</button>
    &#8195;<button class="btn btn-primary" @onclick="ExecUpdatePlexAcquired">Plex Acquired</button>
    &#8195;<button class="btn btn-primary" @onclick="ExecUpdatePlexWatched">Plex Watched</button>
    <p></p>
</div>

<div>
    <h2>Direct Update Processes:</h2>
    <p></p>
    <input @bind="@refreshshowid" size="5" />
    &#8195;<button class="btn btn-primary" @onclick="RefreshOneShow">Refresh Show</button>
    <p></p>
</div>

<div>
    <h3>Status:</h3>
    <div><h4><em>@message</em></h4></div>
</div>