@page "/tools"
@using MySqlConnector

@code
{
    string _message;
    int _refreshshowid;
    string _logview = "";
    readonly string _log = "";

    public void ExecUpdateFollowed()
    {
        _message = "Running Update Followed";
        RunScript("/Users/dick/TVMaze/Scripts/UpdateFollowed.sh");
        _message = "Finished Update Followed";
    }

    public void ExecUpdatePlexAcquired()
    {
        _message = "Running Update Plex Acquired";
        RunScript("/Users/dick/TVMaze/Scripts/UpdatePlexAcquired.sh");
        _message = "Finished Update Plex Acquired";
    }

    public void ExecUpdatePlexWatched()
    {
        _message = "Running Update Plex Watched";
        RunScript("/Users/dick/TVMaze/Scripts/UpdatePlexWatched.sh");
        _message = "Finished Update Plex Watched";
    }

    public void ExecAcquireMedia()
    {
        _message = "Running Acquire Media";
        RunScript("/Users/dick/TVMaze/Scripts/AcquireMedia.sh");
        _message = "Finished Acquire Media";
    }

    public void ExecAcquireMediaLog()
    {
        _logview = "Acquire Media Log";
    }

    public void ExecFollowedLog()
    {
        _logview = "Followed Log";
    }

    public void ExecPlexAcquiredLog()
    {
        _logview = "Plex Acquired Log";
    }

    public void ExecPlexWatchedLog()
    {
        _logview = "Plex Watched Log";
    }


    private void RunScript(string scriptName)
    {
        using (Process runScript = new())
        {
            runScript.StartInfo.FileName = scriptName;
            runScript.StartInfo.UseShellExecute = true;
            runScript.StartInfo.RedirectStandardOutput = false;
            var started = runScript.Start();
            runScript.WaitForExit();
        }
    }

    private void RefreshOneShow()
    {
        if (_refreshshowid == 0)
        {
            _message = "Enter a ShowId: 0 is not Valid";
            return;
        }
        _message = $"Trying to update {_refreshshowid}";

        AppInfo appinfo = new("TVMaze", "RefreshOneShow WebUI", "DbAlternate");
        var log = appinfo.TxtFile;
        log.Start();
        using (MariaDb mdbr = new(appinfo))
        {
            MySqlDataReader rdr;

            rdr = mdbr.ExecQuery($"select `TvmShowId`, `ShowName` from Shows where `TvmShowId` = {_refreshshowid} order by `TvmShowId` desc");

            while (rdr.Read())
            {
                using (ShowAndEpisodes sae = new(appinfo))
                {
                    _message = $"Working on Show {rdr[0]} {rdr[1]}";
                    log.Write($"{_message}", "", 2);
                    sae.Refresh(int.Parse(rdr[0].ToString()));
                }
            }
            if (_message.Contains("Trying"))
            {
                _message = $"ShowId {_refreshshowid} is not in the Shows Table";
            }
            else
            {
                _message = _message.Replace("Working on", "Refreshed");
            }
        }
        log.Stop();
    }

}

<h1>Tools Page</h1>
<div>
    <h2>Batch Update Processes: </h2>
    <p></p>
    <button class="btn btn-primary" @onclick="ExecUpdateFollowed">Followed</button>
    &#8195;<button class="btn btn-primary" @onclick="ExecUpdatePlexAcquired">Plex Acquired</button>
    &#8195;<button class="btn btn-primary" @onclick="ExecUpdatePlexWatched">Plex Watched</button>
    &#8195;<button class="btn btn-primary" @onclick="ExecAcquireMedia">Acquire</button>
    <p></p>
</div>

<div>
    <h2>Direct Update Processes:</h2>
    <p></p>
    <input @bind="@_refreshshowid" size="5"/>
    &#8195;<button class="btn btn-primary" @onclick="RefreshOneShow">Refresh Show</button>
    <p></p>
</div>

<div>
    <h2>Status:</h2>
    <div>
        <h4>
            <em>@_message</em>
        </h4>
    </div>
</div>

<div>
    <h2>Logs</h2>
    <p></p>
    <button class="btn btn-primary" @onclick="ExecFollowedLog">Followed</button>
    &#8195;<button class="btn btn-primary" @onclick="ExecPlexAcquiredLog">Plex Acquired</button>
    &#8195;<button class="btn btn-primary" @onclick="ExecPlexWatchedLog">Plex Watched</button>
    &#8195;<button class="btn btn-primary" @onclick="ExecAcquireMediaLog">Acquire</button>
    <p></p>
</div>

<div>
    <h4>@_logview</h4>
    <p></p>
    @_log
    <p></p>
    <em>End of Log @_logview</em>
</div>