<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <div class="nav-item col pl-lg-0">
            <NavLink class="nav-link text-dark" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span>
            </NavLink>
        </div>
        <div class="row nav-item col pl-lg-0">
            <NavLink class="nav-link text-dark" href="shows">
                <span class="oi oi-list" aria-hidden="true"></span>
            </NavLink>
        </div>
        <div class="nav-item col pl-lg-0">
            <NavLink class="nav-link text-dark d-inline" href="Episodes">
                <span class="oi oi-list-rich" aria-hidden="true"></span>
            </NavLink>
        </div>
        <div class="nav-item col pl-lg-0">
            <NavLink class="nav-link text-dark d-inline" href="movies">
                <span class="oi oi-battery-empty" aria-hidden="true"></span>
            </NavLink>
        </div>
        <div class="nav-item col pl-lg-0">
            <NavLink class="nav-link text-dark d-inline" href="tools">
                <span class="oi oi-briefcase" aria-hidden="true"></span>
            </NavLink>
        </div>
    </div>
</nav>