<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <div class="nav-item col pl-lg-0">
            <NavLink class="nav-link text-dark" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="TVMaze Statistics"></span>
            </NavLink>
        </div>
        <div class="row nav-item col pl-lg-0">
            <NavLink class="nav-link text-dark" href="shows">
                <span class="oi oi-list" aria-hidden="true" ata-toggle="tooltip" data-placement="bottom" title="Shows"></span>
            </NavLink>
        </div>
        <div class="nav-item col pl-lg-0">
            <NavLink class="nav-link text-dark d-inline" href="Episodes">
                <span class="oi oi-list-rich" aria-hidden="true" ata-toggle="tooltip" data-placement="bottom" title="Episodes"></span>
            </NavLink>
        </div>
        <div class="nav-item col pl-lg-0">
            <NavLink class="nav-link text-dark d-inline" href="other">
                <span class="oi oi-cog" aria-hidden="true" ata-toggle="tooltip" data-placement="bottom" title="Other"></span>
            </NavLink>
        </div>
        <div class="nav-item col pl-lg-0">
            <NavLink class="nav-link text-dark d-inline" href="Logging">
                <span class="oi oi-copywriting" aria-hidden="true" ata-toggle="tooltip" data-placement="bottom" title="Logging"></span>
            </NavLink>
        </div>
        <div class="nav-item col pl-lg-0">
            <NavLink class="nav-link text-dark d-inline" href="tools">
                <span class="oi oi-briefcase" aria-hidden="true" ata-toggle="tooltip" data-placement="bottom" title="Tools - Exec Processes & View Logs"></span>
            </NavLink>
        </div>
    </div>
</nav>
