@inherits LayoutComponentBase
@namespace TVMazeWeb.Shared

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <div class="main">
        <div class="top-row px-2">
            <a href="https://github.com/dkluis/TVMaze.git" target="_blank">TVMaze Info</a>
        </div>

        <div class="content px-2">
            @Body
        </div>
    </div>
</div>