@namespace TVMazeWeb.Shared

<div class="top-row pl-2 navbar navbar-dark">
    <a class="navbar-brand" href="">TVMazeWeb</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column ">
        <li class="nav-item px-1">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-1">
            <NavLink class="nav-link" href="shows">
                <span class="oi oi-list" aria-hidden="true"></span> Shows
            </NavLink>
        </li>
        <li class="nav-item px-1">
            <NavLink class="nav-link" href="episodes">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Episodes
            </NavLink>
        </li>
        <li class="nav-item px-1">
            <NavLink class="nav-link" href="movies">
                <span class="oi oi-battery-empty" aria-hidden="true"></span> Movies
            </NavLink>
        </li>
        <li class="nav-item px-1">
            <NavLink class="nav-link" href="tools">
                <span class="oi oi-briefcase" aria-hidden="true"></span> Tools
            </NavLink>
        </li>
        <li class="nav-item px-1">
            <NavLink class="nav-link" href="graphs">
                <span class="oi oi-graph" aria-hidden="true"></span> Graphs
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool _collapseNavMenu = true;
    private string NavMenuCssClass => _collapseNavMenu ? "collapse" : null;
    
    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }

}