<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<appSettings>
		<add key="TestDB" value="server=ca-server.local; database=Test-TVM-DB; uid=dick; pwd=Sandy3942"/>
		<add key="ProdDB" value="server=ca-server.local; database=TVMazeDB; uid=dick; pwd=Sandy3942"/>
		<add key="MacDBLog" value="/Users/Dick/Logs/DataBase.log"/>
		<add key="PCDBLog" value="C:\Users\Dick\Logs/DataBase.log"/>
	</appSettings>
</configuration>