[{
"DbProduction": "server=server.local; port=3306; database=DBXXXXX; uid=YOURUSER; pwd=YOURPASSWORD",
"DbTesting": "server=server.local; port=3306; database=DBXXXXX; uid=YOURUSER; pwd=YOURPASSWORD",
"DbAlternate": "server=server.local; port=3306; database=DBXXXXX; uid=YOURUSER; pwd=YOURPASSWORD",
"LogLevel": "3",
"RarbgToken": "'&token=YOUR-RARBG-TOKEN",
"TvmazeToken": "Basic YOUR-TVMAZE-TOKEN"
}]


Replace server.local with your server's name or ip address
Replace YOURUSER
Replace YOURPASSWORD
Replace DBXXXXX with your DB Schema names
Replace YOUR-RARBG-TOKEN
Replace YOUR-TVMAZE-TOKEN